body{
    background-color: rgb(0, 0, 0);
    color: rgb(221, 100, 14);
    text-align: center;
    font-size: 20px;
    border-radius:2px ;


}
h2{
    color: rgb(7, 90, 21);
}
ul{
    color: 
    rgb(7, 90, 21);
}
img{
    border-radius: 4%;
    width: 100%;
    height: 160px;
    object-fit: cover;
    margin-bottom: 10px;
}
 section{ 
   
    border-radius: 8px;

}
article:hover{
    transform: translateY(-10px);

}
article{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    padding: 10px;
    transition: transform 0.3s ;
    background: rgb(24, 71, 2)
}
a{
    color: rgba(0, 60, 212, 0.816);
    text-decoration: none;

}
header{
    background-color: rgb(181, 255, 245);
    color: rgb(37, 4, 207);
    text-align: center;
    font-size: 20px;
    border-radius:2px ;
}
header nav{
   margin-top: 26px;
   padding: 20px;
   background:rgb(208, 197, 255); 
   border-radius:8px;
}
header nav a{
    margin: 20px;
    color: rgb(123, 0, 255);
    text-decoration: none;

}
header nav a:hover{
    text-decoration: underline;
    color: rgb(201, 25, 178);
}
article:hover{
    transform: translateY(-5px);
    border-color: rgb(230, 166, 18);
}
button{
    padding: 10px 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(231, 127, 23);
    transform: translateY(-5px);

}
main{
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}
section div{
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    display: grid;
   
}

